<a href="https://colab.research.google.com/github/Gersonpalomino2803/Grupo-16-Tareas-20202236-/blob/main/Clase%203/Tarea_1_Qlab_Clase_3_Gerson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Control de Flujo

## 1.1 `if / elif / else`
En esta clase aprendí a hacer que Python tome decisiones usando condiciones.
Sirve para ejecutar código **solo si** se cumple una condición.

**Ideas clave:**
- La condición debe ser algo que Python pueda interpretar como `True` o `False`.
- La indentación (espacios) define el bloque de código.

In [ ]:
#Defino una nota y uso if/elif/else para decidir qué mensaje mostrar
nota = 15
if nota > 15:
  print("muy bien")
elif nota > 10:
  print("aprobado")
else:
  print("desaprobado")

aprobado

In [ ]:
#Este es un ejemplo común de olvidar la indentación en la escritura del código
nota = 15
if nota > 15:
print("muy bien")
elif nota > 10:
print("aprobado")
else:
print("desaprobado")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-3090804060.py, line 3)

In [ ]:
## Además del mensaje, guardo una recomendación en una variable para usarla después.Esto sirve para no depender solo de prints, el resultado queda almacenado. Al final imprimo la recomendación para verificar que quedó bien
nota = 17
if nota > 15:
  print("muy bien")
  recomendacion = "fuerte"
elif nota > 10:
  print("aprobado")
  recomendacion = "promedio"
else:
  print("desaprobado")
  recomendacion = "no"
print(recomendacion)

# identation es necesaria

muy bien
fuerte

## 1.2 `for`: repetir sobre una colección
Sirve para recorrer elementos (listas, strings, rangos).

Patrones típicos:
- recorrer lista
- recorrer `range(n)`
- recorrer con índice: `enumerate(...)`

In [ ]:
#Recorro la lista de cursos y muestro cada elemento (uno por uno).
cursos = ["macro2", "micro2", "metria_avanzada"]
for curso in cursos:
  print(curso)

macro2
micro2
metria_avanzada

In [ ]:
#Recorro la lista y para cada curso imprimo cuántos caracteres tiene (su longitud)
cursos = ["macro2", "micro2", "metria_avanzada"]
for curso in cursos:
  print(len(curso))

6
6
15

In [ ]:
#Uso range(5) para repetir 5 veces: i toma los valores 0, 1, 2, 3, 4.
# rango o range()
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#Uso range(2, 5) para empezar en 2 y llegar hasta 4 (el 5 no se incluye)
for i in range(2, 5):
  print(i)

2
3
4

In [ ]:
#Verifico qué tipo de objeto devuelve range(2, 5): no es lista, es un objeto "range"
print(type(range(2, 5)))

<class 'range'>

In [ ]:
#Convierto el range a lista para ver explícitamente los números que contiene (2, 3, 4).
print(list(range(2, 5)))

[2, 3, 4]

In [ ]:
#Verifico el tipo del resultado al convertir range a lista: ahora sí es una list.
print(type(list(range(2, 5))))

<class 'list'>

In [ ]:
#Uso range(inicio, fin, paso): desde 2 hasta 8, avanzando de 2 en 2 (el 10 no se incluye)
for i in range(2, 10, 2):
  print(i)

2
4
6
8

In [ ]:
#Recorro una lista de frutas y en cada vuelta imprimo el texto "fruta:" junto al elemento.
frutas = ["manzana", "pera", "uva"]

for f in frutas:
    print("fruta:", f)

fruta: manzana
fruta: pera
fruta: uva

In [ ]:
#Uso enumerate para recorrer la lista y además obtener un índice (contador) empezando en 1.
for i, fruta in enumerate(frutas, start=1):
    print(i, "->", fruta)

1 -> manzana
2 -> pera
3 -> uva

In [ ]:
#Igual que arriba, pero ahora el índice empieza en 2 (start cambia el número inicial del contador).
for i, fruta in enumerate(frutas, start=2):
    print(i, "->", fruta)

2 -> manzana
3 -> pera
4 -> uva

## 1.3 `while`: repetir mientras una condición sea verdadera
Se usa cuando **no sabes cuántas iteraciones** necesitas.

**Cuidado:** si la condición nunca cambia → loop infinito.

In [ ]:
# Ejemplo de while: repite un bloque de código mientras la condición sea True.
# Aquí usamos un contador que empieza en 0 y el ciclo corre mientras contador < 10.
# En cada vuelta imprimimos el valor actual y luego lo aumentamos en 1 con contador += 1.
# Si no aumentáramos el contador, la condición nunca cambiaría y el loop podría volverse infinito.
contador = 0
while contador < 10:
  print(contador)
  contador += 1 #contador = contador + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Ejemplo del operador += (atajo para sumar y guardar el resultado en la misma variable).
# numero += 2 significa lo mismo que numero = numero + 2.
# Sirve para actualizar variables de forma más corta y es muy común dentro de loops.
numero = 9
numero += 2 # numero = numero + 2
print(numero)

11

## 1.4 `break` y `continue`
- `break`: sale del loop
- `continue`: salta a la siguiente iteración

In [ ]:
#Uso break para salir del for cuando i pasa de 5 (se detiene el loop).
for i in range(10):
  if i > 5:
    break
  print(i)

0
1
2
3
4
5

In [ ]:
#Imprimo solo los números impares usando i % 2 == 1 (módulo = residuo).
for i in range(10):
  if i % 2 == 1:
    print(i)

1
3
5
7
9

In [ ]:
#Combino dos condiciones: solo impares y corto el loop cuando i > 5 con break.
for i in range(10):
  if i % 2 == 1:
    if i > 5:
      break
    print(i)

1
3
5

In [ ]:
#Uso continue para saltar los pares (i % 2 == 0) y seguir con la siguiente iteración.
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# Uso while para recorrer contador de 0 a 9 y saltar los pares con continue.
# Ojo: si uso continue debo asegurar que contador aumente antes, para no quedarme en loop infinito.
contador = 0
while contador < 10:
  if contador % 2 == 0:
    #contador += 1
    continue
  print(contador)
  contador += 1

KeyboardInterrupt:

# 2) Ejercicio: “filtrar + contar”

Vamos a simular datos de pedidos (lista de diccionarios) y:
- quedarnos con pedidos grandes,
- contar por ciudad,
- obtener un resumen.

In [ ]:
# Creo una lista llamada orders donde cada elemento es un diccionario con datos de un pedido.
# Cada pedido tiene id, user_id, ciudad y monto; esto servirá para filtrar y contar después.
orders = [
    {"order_id": 1, "user_id": 10, "city": "Lima", "amount": 120.0},
    {"order_id": 2, "user_id": 11, "city": "Cusco", "amount": 35.5},
    {"order_id": 3, "user_id": 10, "city": "Lima", "amount": 80.0},
    {"order_id": 4, "user_id": 12, "city": "Arequipa", "amount": 220.0},
    {"order_id": 5, "user_id": 13, "city": "Cusco", "amount": 150.0},
]

In [ ]:
print(type(orders))

<class 'list'>

In [ ]:
# Recorro la lista orders y filtro solo los pedidos cuyo monto (amount) es mayor a 100.
# Los pedidos que cumplen la condición los guardo en big_orders para analizarlos después.
big_orders = []
for o in orders:
    if o["amount"] >= 100:
        big_orders.append(o)

print(big_orders)

[{'order_id': 1, 'user_id': 10, 'city': 'Lima', 'amount': 120.0}, {'order_id': 4, 'user_id': 12, 'city': 'Arequipa', 'amount': 220.0}, {'order_id': 5, 'user_id': 13, 'city': 'Cusco', 'amount': 150.0}]

In [ ]:
# Calculo cuántos pedidos quedaron luego del filtro usando len(big_orders).
# Esto me sirve para verificar rápidamente si el filtro funcionó como esperaba.

print(len(big_orders))

3

In [ ]:
# Creo un diccionario counts para contar cuántos pedidos grandes hay por ciudad.
# Si la ciudad no existe aún en counts la inicializo en 0 y luego voy sumando 1 por pedido.
# contar por ciudad
counts = {}

for o in big_orders:
    city = o["city"]
    if city not in counts:
        counts[city] = 0
    counts[city] += 1

counts

{'Lima': 1, 'Arequipa': 1, 'Cusco': 1}

# 3) Archivos (lectura y escritura)

## 3.1 Leer un archivo de texto con `with open(...)`
`with` asegura que el archivo se cierra bien (incluso si algo falla).

In [ ]:
## Guardo datos en formato tipo CSV dentro de un string multilínea (cada fila es un pedido).
# Esto sirve para simular un archivo de texto y practicar lectura/escritura con open().
text = """order_id,user_id,city,amount
1,10,Lima,120.0
2,11,Cusco,35.5
3,10,Lima,80.0
4,12,Arequipa,220.0
5,13,Cusco,150.0
"""

In [ ]:
# Verifico que text sea un string (str) y cuántos caracteres contiene.
# Esto me ayuda a confirmar que el “contenido del archivo” está bien armado antes de guardarlo.
print(type(text))
print(len(text))

<class 'str'>
113

In [ ]:
# Creo (o reemplazo) el archivo orders.csv en modo escritura ("w") y guardo el texto dentro.
# Uso encoding="utf-8" para evitar problemas con caracteres especiales.
with open("orders.csv", "w", encoding="utf-8") as f:
    f.write(text)

In [ ]:
# Abro el archivo en modo lectura ("r") y lo leo completo con f.read().
# Guardo todo el contenido en la variable content y luego lo imprimo para comprobarlo.
with open("orders.csv", "r", encoding="utf-8") as f:
    content = f.read()
print(content)

order_id,user_id,city,amount
1,10,Lima,120.0
2,11,Cusco,35.5
3,10,Lima,80.0
4,12,Arequipa,220.0
5,13,Cusco,150.0

In [ ]:
# Verifico el tipo de content: al leer con read() obtengo un string (str).
# Aún no es una lista ni una tabla, solo texto completo.
print(type(content))

<class 'str'>

In [ ]:
# que esta pasando?
# Aquí no leo todo de golpe: recorro el archivo línea por línea con for line in f.
# strip() quita el salto de línea al final y así imprimo cada fila limpia con "Linea:".
with open("orders.csv", "r", encoding="utf-8") as f:
    for line in f:
        line = line.strip()
        print("Linea:", line)

Linea: order_id,user_id,city,amount
Linea: 1,10,Lima,120.0
Linea: 2,11,Cusco,35.5
Linea: 3,10,Lima,80.0
Linea: 4,12,Arequipa,220.0
Linea: 5,13,Cusco,150.0

## Nota importante: ¿qué son las librerías en Python?

Hasta ahora hemos usado **Python “puro”**: variables, listas, diccionarios, `if`, `for`, funciones, etc.  
Eso ya nos permite hacer muchas cosas, pero **reinventar todo desde cero sería lento e ineficiente**.

### ¿Qué es una librería?
Una **librería** es un conjunto de código escrito por otras personas que:
- ya resolvió problemas comunes,
- está probado,
- y podemos reutilizar fácilmente.

Ejemplos:
- **pandas** → trabajar con datos en tablas
- **numpy** → cálculos numéricos eficientes
- **matplotlib** → gráficos
- **requests** → comunicarse con páginas web y APIs

### ¿Cómo se usan las librerías?
Primero se **importan**:
```python
import pandas as pd

In [ ]:
import pandas as pd

## 4.1 ¿Qué es un DataFrame?
Un DataFrame es una tabla: filas x columnas.

8 comandos que te resuelven el 80% de tareas iniciales:
- `pd.read_csv`
- `df.head()`
- `df.info()`
- `df["col"]` y `df[["col1","col2"]]`
- filtrar con condiciones
- `value_counts()`
- `groupby(...)`
- `to_csv(...)`

In [ ]:
# Importo la librería pandas para trabajar con datos en formato de tabla.
# Le pongo el alias "pd" para escribir menos al usar sus funciones.
# leer el archivo que hemos creado
df = pd.read_csv("orders.csv")
print(df)

   order_id  user_id      city  amount
0         1       10      Lima   120.0
1         2       11     Cusco    35.5
2         3       10      Lima    80.0
3         4       12  Arequipa   220.0
4         5       13     Cusco   150.0

In [ ]:
# Verifico el tipo de df para confirmar que es un DataFrame de pandas.
# Esto me asegura que ya puedo usar funciones como head() e info()
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Muestro las primeras 3 filas de la tabla para revisar el contenido sin imprimir todo.
# Es útil para un “chequeo rápido” de que las columnas y valores están bien.
df.head(3)

   order_id  user_id   city  amount
0         1       10   Lima   120.0
1         2       11  Cusco    35.5
2         3       10   Lima    80.0

In [ ]:
# Reviso el resumen del DataFrame: número de filas, columnas y tipos de datos (dtype).
# También veo si hay valores faltantes (non-null count) en cada columna.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  5 non-null      int64
 1   user_id   5 non-null      int64
 2   city      5 non-null      object
 3   amount    5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 292.0+ bytes

In [ ]:
df[["city","amount"]].head(3)

    city  amount
0   Lima   120.0
1  Cusco    35.5
2   Lima    80.0

In [ ]:
print(df)

   order_id  user_id      city  amount
0         1       10      Lima   120.0
1         2       11     Cusco    35.5
2         3       10      Lima    80.0
3         4       12  Arequipa   220.0
4         5       13     Cusco   150.0

In [ ]:
# Filtrar
df_grandes = df[df["amount"] > 100]
print(df_grandes)

   order_id  user_id      city  amount
0         1       10      Lima   120.0
3         4       12  Arequipa   220.0
4         5       13     Cusco   150.0

In [ ]:
# corrigiendo los indices

In [ ]:
# contando por numeor de ocurrencias de cada valor
df["city"].value_counts()

city
Lima        2
Cusco       2
Arequipa    1
Name: count, dtype: int64

In [ ]:
df.groupby("city")["amount"].mean() #ver el metodo pivot table

city
Arequipa    220.00
Cusco        92.75
Lima        100.00
Name: amount, dtype: float64

In [ ]:
# Agrupo por ciudad (city) y calculo estadísticas del monto (amount) con agg.
# Uso mean, sum, max y min para obtener un resumen rápido por cada ciudad.
df.groupby("city")["amount"].agg(["mean", "sum", "max", "min"]) # que otros argumenos hay?

            mean    sum    max    min
city
Arequipa  220.00  220.0  220.0  220.0
Cusco      92.75  185.5  150.0   35.5
Lima      100.00  200.0  120.0   80.0

In [ ]:
# Guardo el resumen en la variable summary para reutilizarlo después.
# Reviso el tipo para confirmar que el resultado es un DataFrame de pandas.
summary = df.groupby("city")["amount"].agg(["mean", "sum", "max", "min"])
print(type(summary))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
summary.to_csv("summary.csv")

In [ ]:
# Creo una copia del DataFrame original para hacer cambios sin modificar df.
# Imprimo df_new para verificar que la copia se hizo correctamente.
# creando una columna nueva
df_new = df.copy()
print(df_new)

   order_id  user_id      city  amount
0         1       10      Lima   120.0
1         2       11     Cusco    35.5
2         3       10      Lima    80.0
3         4       12  Arequipa   220.0
4         5       13     Cusco   150.0

In [ ]:
df_new["year"]=2026

In [ ]:
# Imprimo el DataFrame actualizado para ver la nueva columna year.
# Así confirmo que la columna se agregó y quedó con el valor correcto.
print(df_new)

   order_id  user_id      city  amount  year
0         1       10      Lima   120.0  2026
1         2       11     Cusco    35.5  2026
2         3       10      Lima    80.0  2026
3         4       12  Arequipa   220.0  2026
4         5       13     Cusco   150.0  2026

#**Ejemplos extra sobre los temas vistos en clase:**

In [ ]:
# Ejemplo 1: Limpio líneas tipo CSV, valido datos y hago un resumen por ciudad.
# Uso control de flujo (if/continue) para saltar filas inválidas sin romper el programa.

raw_lines = [
    "order_id,user_id,city,amount",
    "1,10,Lima,120.0",
    "2,11,Cusco,35.5",
    "",                                # línea vacía
    "3,10,Lima,80.0",
    "4,12,Arequipa,220.0",
    "5,13,Cusco,150.0",
    "6,14,Lima,NO_NUM",                # monto inválido
    "7,15,,50.0",                      # ciudad vacía
    "8,16,Trujillo,-10",               # monto negativo (lo considero inválido)
]

orders_clean = []
invalid_count = 0

# Recorro desde la segunda línea (me salto el header)
for line in raw_lines[1:]:
    line = line.strip()

    # 1) salto líneas vacías
    if line == "":
        invalid_count += 1
        continue

    parts = line.split(",")

    # 2) valido que tenga 4 campos
    if len(parts) != 4:
        invalid_count += 1
        continue

    order_id, user_id, city, amount = parts
    city = city.strip()

    # 3) valido ciudad no vacía
    if city == "":
        invalid_count += 1
        continue

    # 4) valido monto numérico y positivo
    try:
        amount = float(amount)
    except ValueError:
        invalid_count += 1
        continue

    if amount <= 0:
        invalid_count += 1
        continue

    orders_clean.append({
        "order_id": int(order_id),
        "user_id": int(user_id),
        "city": city,
        "amount": amount
    })

print("Pedidos válidos:", len(orders_clean))
print("Pedidos inválidos:", invalid_count)
print("Ejemplo de pedido limpio:", orders_clean[0])

Pedidos válidos: 5
Pedidos inválidos: 4
Ejemplo de pedido limpio: {'order_id': 1, 'user_id': 10, 'city': 'Lima', 'amount': 120.0}

In [ ]:
import pandas as pd

orders = [
    {"order_id": 1, "user_id": 10, "city": "Lima", "amount": 120.0},
    {"order_id": 2, "user_id": 11, "city": "Cusco", "amount": 35.5},
    {"order_id": 3, "user_id": 10, "city": "Lima", "amount": 80.0},
    {"order_id": 4, "user_id": 12, "city": "Arequipa", "amount": 220.0},
    {"order_id": 5, "user_id": 13, "city": "Cusco", "amount": 150.0},
    {"order_id": 6, "user_id": 14, "city": "Lima", "amount": 15.0},
]

df = pd.DataFrame(orders)
df.to_csv("orders_demo.csv", index=False)

df2 = pd.read_csv("orders_demo.csv")
print(df2)

   order_id  user_id      city  amount
0         1       10      Lima   120.0
1         2       11     Cusco    35.5
2         3       10      Lima    80.0
3         4       12  Arequipa   220.0
4         5       13     Cusco   150.0
5         6       14      Lima    15.0

In [ ]:
categories = []
for amount in df2["amount"]:
    if amount >= 100:
        categories.append("big")
    elif amount >= 50:
        categories.append("medium")
    else:
        categories.append("small")

df2["category"] = categories
print(df2)

   order_id  user_id      city  amount category
0         1       10      Lima   120.0      big
1         2       11     Cusco    35.5    small
2         3       10      Lima    80.0   medium
3         4       12  Arequipa   220.0      big
4         5       13     Cusco   150.0      big
5         6       14      Lima    15.0    small